/* use CSS shorthands to reduce rules */
@media screen and (min-width: 768px) {
  .mailbox-container {
    width: 100%
  }
}

.top-box {
  z-index: 9999;
}

.make-one {
  border: 1px;
  border-color: orange;
  border-style: solid;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px;
}

.no-rules {}

.make-two {
  border: 1px;
  border-color: orange;
  border-style: solid;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px;
}

.modal {
  z-index: 9999;
}

.no-more-rules {

}

@media screen and (min-width: 768px) {
  .round {
    width: 100%
  }
}

.index-2 {
  z-index: 5000;
}

.no-rules-here {
  width: 100%;
  /*border: 1px;
  border-color: orange;
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px;*/
}

.make-one__color {
  color: red;
}

.block {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
